* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #022339;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 12%;
  width: 90%;
  max-width: 500px;
  background-color: #510369;
  padding: 50px 40px;
  border-radius: 10px;

}
.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px 20px;
  border-radius: 5px;

}
.display img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.container h1{
    font-weight: 500;
    font-size: 40px;
}
.container h1 span{
    color: #019f55;
    font-weight: 600;
    border-bottom: 2px solid #019f55;
    padding-bottom: 6px;
}

.display input{
    border: 0;
    outline: none;
    font-size: 24px;
}
button{
    font-size: 20px;
    padding: 15px 20px;
    background-color: #019f55;
    cursor: pointer;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
}
.container button img{
    width: 30px;
    height: 30px;
}